@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html {
  scroll-behavior: smooth;
}

/* .hover-gradient:hover {
  background-image: linear-gradient(to right, #ff7e5f, #feb47b);
} */

.gradient-non-hover {
  background-image: linear-gradient(to right, #6b46c1, #b83280, #c056d0); /* Darker gradient */
}

.gradient-hover:hover {
  background-image: linear-gradient(to right, #9f7aea, #ed64a6, #d53f8c); /* Lighter gradient */
}

/* Optional: Smooth transition */
.gradient-non-hover, .gradient-hover {
  transition: background-image 0.5s ease-in-out;
}

/*@layer utilities {
  .text-balance {
    text-wrap: balance;
  } 
}*/
